.date {
  text-align: center;

  &__time {
    font-size: 5rem;
    line-height: 1;
  }

  &__second {
    color: var(--color-primary);
  }

  &__day-wrapper {
    margin-bottom: .5rem;
  }

  &__day,
  &__input {
    font-size: 1.6rem;
    outline: none;
  }

  &__greeting-wrapper {
    display: flex;
    align-items: baseline;
    gap: .2rem;
  }

  &__greeting,
  &__input {
    width: 50%;
  }

  &__greeting {
    text-align: right;
  }

  &__input {
    font-family: inherit;
    color: var(--color-primary);

    cursor: pointer;
    background-color: transparent;
    border: 0;

    &::placeholder {
      font-size: 1.4rem;
      color: var(--color-light-m);
    }
  }
}
