.date {
  text-align: center;

  &__time {
    font-size: 3.25em;
    font-variant-numeric: tabular-nums;
  }

  &__time,
  &__day,
  &__wrapper {
    margin: 0;
  }

  &__second,
  &__input {
    color: #ff4040;
  }

  &__day,
  &__input {
    font-size: 1.375em;
  }

  &__day {
    margin-bottom: 5px;
  }

  &__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  &__greeting,
  &__input {
    width: 50%;
  }

  &__greeting {
    margin-right: 3px;

    text-align: right;
  }

  &__input {
    padding: 0;

    font-family: inherit;

    background-color: transparent;
    border: 0;
    outline: none;

    &::placeholder {
      color: #fff;
      font-size: 0.6875em;

      transition: color .2s ease;
    }

    &:hover {
      &::placeholder {
        color: #ff4040;
      }
    }
  }
}
