.date {
  text-align: center;

  &__time {
    font-size: 50px;
    font-variant-numeric: tabular-nums;
  }

  &__time,
  &__day,
  &__wrapper {
    margin: 0;
  }

  &__day {
    margin-bottom: 5px;

    font-size: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__greeting {
    margin-right: 3px;
  }

  &__input {
    padding: 0;

    font-family: inherit;
    font-size: inherit;

    background-color: transparent;
    border: 0;

    &,
    &::placeholder {
      color: inherit;
    }
  }
}
