.todo-list {
  height: 142px;
  padding-right: 5px;

  background-color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;

  &,
  &__item {
    padding-right: 5px;
  }

  &__top {
    padding-left: 25px;

    background-image: url("../assets/svg/todo-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
  }

  &__top,
  &__item,
  &__buttons-wrapper {
    display: flex;
    align-items: center;
  }

  &__top,
  &__item {
    margin-bottom: 10px;
  }

  &__item {
    animation: fade-in 1s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &--complete {
      animation-name: fade-out;
    }
  }

  &__input,
  &__button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background-color: transparent;
    border: 0;
    outline: none;
  }

  &__input-wrapper {
    position: relative;

    border-bottom: 1px solid rgba(255, 255, 255, .2);

    &--complete {
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;

        content: "";
        background-color: #fff;
        border-radius: 1px;

        transform: translateY(-50%);
        animation: line-through 1s ease;
      }
    }
  }

  &__input-wrapper,
  &__input {
    width: 100%;
  }

  &__input,
  &__button,
  &__list {
    padding: 0;
  }

  &__input,
  &__button {
    transition: color .2s ease;
  }

  &__input {
    -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);

    &::placeholder {
      color: rgba(255, 255, 255, .2);
    }
  }

  &__button {
    width: 25px;
    min-width: 25px;

    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, .7);
    }
  }

  &__list {
    max-height: 80px;
    margin: 0;
    overflow-y: auto;

    list-style: none;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, .2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .2);
    }
  }
}
