.time-format {
  display: none;
  height: max-content;

  &,
  &__wrapper {
    gap: .1rem;
  }

  &__wrapper,
  &__item {
    display: flex;
    align-items: center;
  }

  &__item {
    justify-content: center;
    width: 2rem;
    height: 2rem;

    font-family: inherit;
    font-size: .8rem;
    color: var(--color-light-m);

    background-color: var(--color-dark-xs);
    border: 0;
    outline: none;

    &--12,
    &--24 {
      cursor: pointer;
      transition: background-color .2s, color .2s;

      &:hover,
      &:focus {
        color: var(--color-light-l);
        background-color: var(--color-primary);
      }
    }

    &--12 {
      border-top-left-radius: .2rem;
    }

    &--24 {
      border-top-right-radius: .2rem;
    }

    &--am {
      border-bottom-left-radius: .2rem;
    }

    &--pm {
      border-bottom-right-radius: .2rem;
    }
  }
}
