.audio-player {
  order: 1;

  &__controls,
  &__description,
  &__buttons,
  &__volume,
  &__playlist {
    display: flex;
  }

  &__controls {
    flex-wrap: wrap;
    margin-bottom: 10px;
    row-gap: 10px;
  }

  &__top {
    width: 100%;
  }

  &__description {
    justify-content: space-between;

    font-size: 10px;
  }

  &__progress,
  &__volume-bar,
  &__button {
    border: 0;
  }

  &__progress,
  &__volume-bar,
  &__playlist {
    margin: 0;
  }

  &__progress,
  &__volume-bar {
    width: 100%;
    height: 5px;

    &,
    &::-webkit-slider-thumb {
      background-color: #fff;
      appearance: none;
    }

    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;

      cursor: ew-resize;
      border-radius: 50%;
    }
  }

  &__buttons,
  &__volume {
    align-items: center;
    column-gap: 10px;
  }

  &__buttons {
    margin-right: 20px;
  }

  &__button,
  &__playlist {
    padding: 0;
  }

  &__button {
    width: 30px;
    min-width: 30px;
    height: 30px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;

    transition: background-image .2s ease;

    &--prev {
      background-image: url("../assets/svg/play-prev.svg");
    }

    &--play {
      width: 40px;
      height: 40px;

      background-image: url("../assets/svg/play.svg");
    }

    &--next {
      background-image: url("../assets/svg/play-next.svg");
    }

    &--volume {
      background-image: url("../assets/svg/volume-btn.svg");
    }
  }

  &__volume {
    flex-grow: 1;
  }

  &__volume-bar {
    background-image: linear-gradient(to right, #ff4040 50%, #ff4040 50%, #fff 0%, #fff 100%);
  }

  &__playlist {
    flex-direction: column;
    row-gap: .625rem;

    list-style: none;
  }

  &__track {
    overflow: hidden;

    white-space: nowrap;

    border-bottom: 1px solid transparent;

    animation-name: track-stop;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
}
