.audio-player {
  &,
  &__playlist {
    flex-direction: column;
  }

  &,
  &__controls,
  &__playlist {
    display: flex;
  }

  &__controls {
    align-items: center;
    margin-bottom: 10px;
    column-gap: 10px;
  }

  &__button,
  &__playlist {
    padding: 0;
  }

  &__button {
    width: 30px;
    height: 30px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
    border-radius: 50%;

    &--prev {
      background-image: url("../assets/svg/play-prev.svg");
    }

    &--play {
      width: 40px;
      height: 40px;

      background-image: url("../assets/svg/play.svg");

      transition: background-image .2s ease;
    }

    &--next {
      background-image: url("../assets/svg/play-next.svg");
    }
  }

  &__playlist {
    margin: 0;
    row-gap: 10px;

    list-style: none;
  }

  &__track {
    position: relative;

    transition: color .2s ease;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 1px;

      content: "";
      background-color: #fff;

      animation-name: track-stop;
      animation-duration: 1s;
      animation-timing-function: ease;
    }
  }
}
