.page-settings {
  display: none;
  max-width: max-content;

  &__title {
    font-size: 1rem;
    text-align: center;

    animation: settings-help 40s infinite;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: .1rem;
  }

  &__button-wrapper {
    position: relative;

    background-color: var(--color-dark-xs);
    transition: background-color .2s;

    &:hover {
      background-color: var(--color-primary);
    }

    &:first-child {
      border-top-left-radius: .2rem;
      border-bottom-left-radius: .2rem;
    }

    &:last-child {
      border-top-right-radius: .2rem;
      border-bottom-right-radius: .2rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    font-family: inherit;
    font-size: .8rem;
    color: var(--color-light-m);

    cursor: pointer;
    outline: none;
    transition: color .2s;
    appearance: none;

    &:focus {
      background-color: var(--color-primary);
    }

    &::after {
      content: attr(value);
    }

    &:hover ~ .page-settings__clue,
    &:focus ~ .page-settings__clue {
      opacity: 1;
    }
  }

  &__clue {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;

    font-size: 1rem;

    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
    transform: translateX(-50%);
  }
}
