.page-settings {
  display: none;

  animation: fade-in 1s ease;

  &__title,
  &__button::after {
    text-align: center;
  }

  &__title,
  &__clue {
    font-size: .75em;

    pointer-events: none;
  }

  &__title,
  &__button {
    margin: 0;
  }

  &__title {
    margin-bottom: 3px;

    animation: settings-help 40s ease infinite;
  }

  &__wrapper {
    display: flex;
    column-gap: 3px;
  }

  &__button-wrapper {
    position: relative;
  }

  &__button {
    width: 30px;
    min-width: 30px;
    height: 30px;

    font-family: inherit;
    font-size: 12px;
    line-height: 30px;
    color: inherit;

    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;

    transition: border-color .2s ease;
    appearance: none;

    &::after {
      display: block;

      content: attr(value);
    }

    &:hover {
      border-color: rgba(255, 255, 255, .5);
    }
  }

  &__button:hover ~ &__clue {
    opacity: 1;
  }

  &__clue {
    position: absolute;
    bottom: -21px;
    left: 50%;

    opacity: 0;

    transition: opacity .2s ease;
    transform: translateX(-50%);
  }
}
