@keyframes track-play {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes track-stop {
  from {
    color: #ff4040;
  }

  to {
    color: #fff;
  }
}

@keyframes rotate-btn {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes line-through {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes settings-help {
  0%,
  20%,
  100% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}
