@keyframes track-play {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes track-stop {
  from {
    color: #ff4040;
  }

  to {
    color: #fff;
  }
}

@keyframes rotate-btn {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
