@keyframes track-play {
  from {
    width: 0;
    border-color: transparent;
  }

  to {
    width: 100%;
    color: #fff;
    border-color: #fff;
  }
}

@keyframes track-stop {
  from {
    border-color: #fff;
  }

  to {
    border-color: transparent;
  }
}
