// *** QUOTES ***
.js-rotate-btn {
  animation-name: rotate-btn;
}

.js-show-quote {
  animation-name: fade-in;
}

// *** AUDIO PLAYER ***
.js-play-btn {
  background-image: url("../assets/svg/pause.svg");
}

.js-track-play {
  color: #ff4040;

  animation-name: track-play;
  animation-duration: 2s;
}

// *** WEATHER ***
.js-weather-warn {
  color: #ff4040;
}
