.js-show-elem {
  animation-name: fade-in;
}

.js-rotate-btn {
  animation-name: rotate-btn;
}

.js-play-btn {
  background-image: url("../assets/svg/pause.svg");
}

.js-track-play {
  color: #ff4040;

  animation-name: track-play;
  animation-duration: 2s;
}

.js-track-stop {
  animation-name: track-stop;
}

.js-hide-section {
  pointer-events: none;
  opacity: 0;
}

.js-active-btn {
  border-color: rgba(255, 255, 255, .5);
}
