.js-show-elem {
  animation-name: fade-in;
}

// *** QUOTES ***
.js-rotate-btn {
  animation-name: rotate-btn;
}

// *** AUDIO PLAYER ***
.js-play-btn {
  background-image: url("../assets/svg/pause.svg");
}

.js-track-play {
  color: #ff4040;

  animation-name: track-play;
  animation-duration: 2s;
}

// *** WEATHER ***
.js-weather-warn {
  display: inline-block;

  color: #ff4040;

  animation-duration: 1s;
  animation-timing-function: ease;
}

.js-weather-line {
  width: 100%;

  animation-name: weather-line;
}

// *** SETTINGS ***
.js-hide-section {
  opacity: 0;

  animation-name: fade-out;
}

.js-active-btn {
  border-color: rgba(255, 255, 255, 0.5);
}
