@media (min-width: 600px) {
  .page {
    font-size: 16px;

    &__top {
      flex-grow: 1;

      background-color: rgba(0, 0, 0, .5);
      border: 1px solid rgba(255, 255, 255, .2);
      border-radius: 5px;
    }

    &__arrow {
      top: 50%;

      &--prev {
        left: 20px;
      }

      &--next {
        right: 20px;
      }
    }
  }

  .date,
  .quotes {
    background-color: transparent;
    border: 0;
  }

  .weather,
  .audio-player {
    width: calc(50% - 10px);
  }

  .weather {
    &__top-wrapper {
      min-height: 50px;
    }

    &__wind {
      column-gap: 7px;
    }
  }

  .audio-player {
    order: -1;

    &__top {
      min-height: 50px;
    }
  }
}

@media (min-width: 768px) {
  .page {
    justify-content: space-between;

    &__center {
      order: -1;
    }
  }

  .section {
    padding: 25px 20px;
  }

  .quotes {
    &__button {
      width: 40px;
      min-width: 40px;
      height: 40px;
    }
  }

  .weather {
    &__temp-wrapper {
      min-height: 50px;
    }

    &__icon {
      min-width: 50px;

      font-size: 50px;
    }

    &__temp {
      font-size: 42px;
    }

    &__feel {
      padding-top: 7px;
    }

    &__wind-speed,
    &__humidity {
      padding-left: 35px;
    }
  }

  .audio-player {
    &__center,
    &__buttons,
    &__volume {
      column-gap: 15px;
    }

    &__button {
      width: 40px;
      min-width: 40px;
      height: 40px;

      &--play {
        width: 50px;
        height: 50px;
        min-height: 50px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .page {
    padding: 30px;

    font-size: 18px;

    background-color: rgba(0, 0, 0, .7);

    &__top {
      position: static;
      flex-grow: 0;
      row-gap: 70px;

      background-color: transparent;
      border: 0;
    }
  }

  .background {
    background-color: rgba(0, 0, 0, .7);
  }

  .section {
    padding: 0;

    background-color: transparent;
    border: 0;
  }

  .date {
    &__time-wrapper,
    &__format {
      display: flex;
    }

    &__time-wrapper {
      justify-content: center;
    }

    &__time {
      font-size: 5em;
    }

    &__format {
      position: relative;

      &::before {
        position: absolute;
        top: -51%;
        right: -8px;
        width: 60px;
        height: 60px;

        content: "";
        background-image: url("../assets/svg/santa-hat.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        transform: rotate(10deg);
      }
    }

    &__day-wrapper {
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 5px;
    }

    &__day {
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, .7);
      }
    }

    &__day:hover ~ .calendar {
      opacity: 1;
    }
  }

  .time-format {
    display: flex;
  }

  .quotes {
    max-width: 80%;
    min-height: 155px;
    margin: 0 auto;
  }

  .weather,
  .audio-player {
    max-width: 350px;
  }

  .weather {
    &__wind-speed,
    &__humidity {
      padding-left: 40px;
    }

    &__wind {
      column-gap: 10px;
    }

    &__wind-arrow {
      width: 15px;
      height: 15px;
    }

    &__map {
      -webkit-mask-image: radial-gradient(#000 -50%, transparent);
    }
  }

  .settings,
  .todo-list {
    display: block;
  }

  .main-footer {
    align-items: flex-end;

    &__logo {
      width: 80px;
      height: 40px;
    }
  }
}
