@media (min-width: 600px) {
  .page {
    font-size: 16px;

    &__top {
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid #fff;
      border-radius: 5px;
    }

    &__arrow {
      top: 50%;

      &--prev {
        left: 20px;
      }

      &--next {
        right: 20px;
      }
    }
  }

  .date,
  .quotes {
    background-color: transparent;
    border: 0;
  }

  .weather,
  .audio-player {
    width: calc(50% - 10px);
  }

  .audio-player {
    order: -1;
  }
}

@media (min-width: 768px) {
  .page {
    justify-content: space-between;

    &__top {
      flex-grow: 1;
    }

    &__center {
      order: -1;
    }
  }

  .section {
    padding: 25px 20px;
  }

  .quotes {
    &__button {
      width: 50px;
      min-width: 50px;
      height: 50px;
    }
  }

  .weather {
    &__wrapper {
      min-height: 50px;
    }

    &__icon {
      font-size: 50px;
    }

    &__temp {
      font-size: 42px;
    }
  }

  .audio-player {
    &__center,
    &__buttons,
    &__volume {
      column-gap: 15px;
    }

    &__button {
      width: 40px;
      min-height: 40px;
      height: 40px;

      &--play {
        width: 50px;
        min-height: 50px;
        height: 50px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .page {
    font-size: 20px;
  }

  .section {
    padding: 30px 25px;
  }

  .quotes {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .audio-player {
    &__controls {
      max-width: 50%;
    }
  }

  .weather {
    &__input {
      max-width: 50%;
    }
  }
}
