@import "variables";

// ### FONTS ###
@import "owfont-regular";
@import "fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::selection {
    color: var(--color-light-l);
    background-color: var(--color-primary);
  }
}

html {
  font-size: 62.5%;
}

// ### COMPONENTS ###
@import "../components/page/page";
@import "../components/visually-hidden/visually-hidden";
@import "../components/section/section";
@import "../components/image-slider/image-slider";
@import "../components/date/date";
@import "../components/time-format/time-format";
@import "../components/quotes/quotes";
@import "../components/weather/weather";
@import "../components/audio-player/audio-player";
@import "../components/page-settings/page-settings";
@import "../components/calendar/calendar";
@import "../components/main-footer/main-footer";

// ### ANIMATION ###
@import "animation";

// ### JS CLASSES ###
@import "js-classes";

// ### MEDIA-QUERIES ###
@import "media-queries";
