doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | Momentum
    link(rel="stylesheet" href="styles/owfont-regular.css")

  body.page
    div.page__top
      //- *** AUDIO PLAYER ***
      section.audio-player
        h2.visually-hidden
          | Audio-player
        div.audio-player__controls
          button.audio-player__button.audio-player__button--prev
            span.visually-hidden
              | Prev
          button.audio-player__button.audio-player__button--play
            span.visually-hidden
              | Play/pause
          button.audio-player__button.audio-player__button--next
            span.visually-hidden
              | Next
        ul.audio-player__playlist

      //- *** WEATHER ***
      section.weather
        h2.visually-hidden
          | Weather
        input.weather__input(type="text" value="Minsk" placeholder="[Enter city]")
        p.weather__wrapper
          span.weather__icon
          span.weather__temp
        p.weather__text.weather__descr
        p.weather__text.weather__wind
        p.weather__text.weather__humidity

    div.page__center
      //- *** DATE ***
      section.date
        h2.visually-hidden
          | Date
        p.date__time
        p.date__day
        p.date__wrapper
          span.date__greeting
          input.date__input(type="text" placeholder="[Enter your name]")
