doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | Momentum

    link(rel="preload" href="./assets/fonts/Lato-Light.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preconnect" href="https://genius-quotes.herokuapp.com")
    link(rel="preconnect" href="https://api.openweathermap.org")

  body.page
