doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | Momentum
    link(rel="stylesheet" href="styles/owfont-regular.css")

  body.page
    //- *** AUDIO PLAYER ***
    section.audio-player
      h2.visually-hidden
        | Audio-player
      div.audio-player__controls
        button.audio-player__button.audio-player__button--prev
          span.visually-hidden
            | Prev
        button.audio-player__button.audio-player__button--play
          span.visually-hidden
            | Play/pause
        button.audio-player__button.audio-player__button--next
          span.visually-hidden
            | Next
      ul.audio-player__playlist
        li
          | Aqua Caelestis
        li
          | Aqua Caelestis
        li
          | Aqua Caelestis
        li
          | Aqua Caelestis

    //- *** DATE ***
    section.weather
      h2.visually-hidden
        | Weather
      input.weather__input(type="text" value="Minsk")
      p.weather__icon
      p.weather__temp
      p.weather__wind
      p.weather__humidity

    //- *** DATE ***
    section.date
      h2.visually-hidden
        | Date
      p.date__time
      p.date__date
      p.date__wrapper
        span.date__greeting
        input.date__input(type="text" placeholder="[Enter your name]")
