.weather {
  position: relative;
  min-height: 208px;

  &__city,
  &__country-wrapper,
  &__temp-wrapper,
  &__wind {
    display: flex;
    align-items: center;
  }

  &__city {
    height: 25px;
  }

  &__input {
    box-sizing: border-box;
    display: block;
    padding: 0;

    font-family: inherit;
    font-size: 1.25em;

    background-color: transparent;
    border: 0;
    outline: none;
    -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);

    transition: color .2s ease;

    &,
    &::placeholder {
      color: inherit;
    }
  }

  &__input,
  &__line {
    width: 100%;
  }

  &__country-wrapper {
    justify-content: center;
    min-height: 15px;
    margin-bottom: 10px;
  }

  &__country,
  &__city-time,
  &__input:hover {
    color: rgba(255, 255, 255, .7);
  }

  &__city-time {
    min-width: 40px;

    text-align: right;
  }

  &__country {
    flex-shrink: 0;
    max-width: 90%;
    padding: 0 7px;

    font-size: .625em;
    text-align: center;
    text-indent: calc(2em / 5);
    text-transform: uppercase;
    letter-spacing: calc(2em / 5);
  }

  &__line {
    height: 1px;

    background-color: rgba(255, 255, 255, .7);
    border-radius: 1px;

    animation: line-through 2s ease;
  }

  &__city-time,
  &__data {
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  &__country,
  &__city-time,
  &__temp-wrapper,
  &__icon,
  &__text,
  &__warn {
    margin: 0;
  }

  &__temp-wrapper {
    min-height: 40px;
    margin-bottom: 15px;
    column-gap: 10px;
  }

  &__text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    min-width: 40px;

    font-size: 40px;
  }

  &__temp {
    font-size: 33px;
  }

  &__city-time,
  &__feel {
    font-size: .75em;
  }

  &__feel {
    align-self: flex-start;
    margin-top: 5px;
  }

  &__wind {
    column-gap: 5px;
  }

  &__wind-speed,
  &__wind-arrow,
  &__humidity {
    background-repeat: no-repeat;
  }

  &__wind-speed,
  &__humidity {
    padding-left: 30px;

    background-position: left center;
    background-size: auto 100%;
  }

  &__wind-speed {
    background-image: url("../assets/svg/wind-icon.svg");
  }

  &__wind-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;

    background-image: url("../assets/svg/wind-arrow.svg");
    background-size: contain;
  }

  &__humidity {
    background-image: url("../assets/svg/humidity-icon.svg");
  }

  &__map-wrapper,
  &__map {
    width: 100%;
    height: 100%;
  }

  &__map-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    -webkit-mask-image: radial-gradient(#000 -200%, transparent);
  }

  &__map {
    background-color: transparent;
    -webkit-mask-image: radial-gradient(#000 0%, transparent);
  }

  &__warn {
    margin-top: 25px;

    color: #ff4040;

    animation: fade-in 1s ease;
  }
}
