.quotes {
  min-height: 17.5rem;
  text-align: center;

  &__button {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;

    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    animation-duration: 1s;
    -webkit-tap-highlight-color: transparent;

    &:hover svg,
    &:focus svg {
      fill: var(--color-primary);
    }

    svg {
      width: 100%;
      height: 100%;

      transition: fill .2s;
      fill: var(--color-light-l);
    }
  }

  &__text,
  &__author,
  &__warn {
    animation: fade-in 1s;
  }

  &__text {
    margin-bottom: .5rem;
  }

  &__author {
    color: var(--color-primary);
  }

  &__warn {
    color: var(--color-light-m);
  }
}
