.quotes {
  min-height: 220px;

  text-align: center;

  &__button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 20px;

    font-family: inherit;
    color: #fff;

    cursor: pointer;
    background-color: transparent;
    background-image: url("../assets/svg/reload.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
    -webkit-tap-highlight-color: #fff;
    -webkit-tap-highlight-color: transparent;

    transition: filter .2s ease;
    animation-duration: 1s;
    animation-timing-function: ease;

    &:hover {
      filter: opacity(.7);
    }
  }

  &__text,
  &__author {
    margin: 0;
  }

  &__text {
    margin-bottom: 10px;

    animation-duration: 1s;
    animation-timing-function: ease;
  }

  &__author {
    color: #ff4040;
  }
}
