.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text,
  &__year {
    margin: 0;
  }

  &__link {
    margin-left: 3px;

    font-size: 1.375em;
    color: #ff4040;
    text-decoration: none;
  }

  &__logo {
    display: block;
    width: 100px;
    height: 37px;

    background-image: url("../assets/svg/rsschool-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(100%);

    transition: filter .2s ease;

    &:hover {
      filter: invert(100%) opacity(.7);
    }
  }
}
