.page {
  flex-direction: column;
  padding: 20px;
  margin: 0;
  row-gap: 50px;

  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;

  background-color: rgba(0, 0, 0, .5);

  &,
  &__top {
    display: flex;
    row-gap: 20px;
  }

  &__top {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__center {
    order: -1;
  }
}
