.page {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  margin: 0;

  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;

  background-color: rgba(0, 0, 0, .5);

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff4040;
  }

  * {
    &::selection {
      color: #fff;

      background-color: #ff4040;
    }
  }

  &,
  &__top,
  &__bottom {
    position: relative;
  }

  &,
  &__top {
    flex-direction: column;
  }

  &,
  &__top,
  &__center {
    display: flex;
    row-gap: 20px;
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    z-index: 9999;
    width: 40px;
    height: 40px;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;

    transition: filter .2s ease;
    -webkit-tap-highlight-color: #fff;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      filter: opacity(.7);
    }

    &--prev,
    &--next {
      background-image: url("../assets/svg/slider-arrow.svg");
    }

    &--prev {
      left: 10px;

      transform: rotate(180deg) translateY(50%);
    }

    &--next {
      right: 10px;

      transform: translateY(-50%);
    }
  }

  &__top,
  &__center {
    justify-content: space-between;
  }

  &__center {
    flex-wrap: wrap;
  }

  &__todo-list {
    margin-bottom: 20px;
  }

  &__settings {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9999;

    transform: translateX(-50%);
  }
}
