.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;

  background-color: rgba(0, 0, 0, .5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0;

  transition: background-image 1s ease, opacity 1s ease;
}
